
body{font-family: 'Roboto Condensed', sans-serif;}

.navbar-default{ background-color: #1B3244; border-color:#162836;}

.wrap > #breadcrumbwrapper{
    padding: 60px 5px 0px;
}

#breadcrumbwrapper{
  background-color:#255986;
}

#herobanner{
  margin-top:0px;
  padding-top:80px;
  background-color:#223F55;
  color:#efefef;
  text-shadow:4px 2px 2px #000;
  border-bottom:4px solid #162836;

}
/*-- Jumbotron tweaks --*/
.jumbotron {
    text-align: center;
    border-color:#15344e;
    background-color:#223F55;
    background-image: url(../images/code-background.png);
    background-size:100%;
    background-repeat:no-repeat;
}

#aboutme{
  padding:10px;
  background-color:#2A4F6A;
  padding-top:20px;
  padding-bottom:20px;
  color:#eee;
  font-size:130%;
  text-shadow:2px 2px 1px #333;
  border-bottom:4px solid #162836;
}

#whatido{
  background-color:#356385;
  font-size:120%;
  text-shadow:2px 2px 1px #333;
  color:#e3e3e3;
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:4px solid #15344e;
}

#whatido p{font-size:110%;}


#whatido blockquote{
  background-color:#e3e3e3;
  color:#333;
  text-shadow:none;
  border-left:16px solid #15344e;
  /*
  border-radius:30px;

  border-right:0px;
  border: 0px solid  #eee;
  box-shadow:6px 4px 2px #333; */
}

#whatido blockquote p {

}

#spotlight{
    background-color:#e6e8e9;
    border-bottom:4px solid #15344e;
    padding:10px 0px 20px 0px;
}

#searchlightcomics-screenshot{
  margin:40px 0px 60px 0px;
}

#techiuse{
    background-color:#bdccd7;
    border-bottom:4px solid #15344e;
    padding:10px 0px 20px 0px;
}

#blogposts{
  background-color:#bdccd7;
  border-bottom:4px solid #15344e;
}

#blogposts .postPreview{
  background-color:#2A4F6A;
  font-size:120%;
  text-shadow:2px 2px 1px #333;
  color:#e3e3e3;
}

#contactme{
  background-color:#356385;
  border-bottom:4px solid #15344e;
}

#contactme .macbook-inner {
  position: absolute;
    top: 65px;
    left: 163px;
    width: 845px;
    height: 532px;
    padding: 50px 30px 0;
    transition: all 0.3s ease;
}

#contactme h3{
  text-shadow:2px 2px 1px #333;
  color:#e3e3e3;
}

#contactme .contact-info{
    background-color: #2A4F6A;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0 12px;
    text-align: left;
}

#contactme .contact-info p{
    border-bottom: 2px dashed #15344e;
    margin: 0;
    padding: 12px 0;
    font-weight: bold;
}

#contactme .contact-info p:last-child{
  border-bottom: none;
}



.footer{
    background-color: #223F55;
    padding: 20px 0 20px 0 ;
}

h1, h2, h3, h4, h5 { font-family: 'Fjalla One', sans-serif; }

.no-padding{
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

.shadow{text-shadow:2px 2px 2px #333;}
.shadowbox{box-shadow:5px 5px 5px #333;}

.img-coder-logo-small{border:5px solid #15344e; margin:10px;}
.img-coder-logo-large{border:5px solid #15344e;}
